<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <!-- https://habr.com/ru/company/ruvds/blog/509700/ первый урок прошёл -->
    <!-- второй прошёл -->
    <!-- третий прошёл - узнал про директивы v-show/if/else-if -->
    <!-- прошёл четвёртый урок, про перебор массивов и ренедеринг списков -->
    <section id="app">
        <div class="product">
        <div class="product-image">
            <img v-bind:src="image" :alt="altText"/> <!-- v-bind это директива, используется для реактивного обновления атрибутов HTML. директивы используются для работы с атрибутами тегов. то есть нельзя в лоб указать объект в усах -->
        </div>
        <div class="product-info">
            <h1>{{ product }}</h1>
            <p>{{ description }}</p>
            <ul>
            <li v-for="detail in details">{{ detail }}</li>
            </ul>
            <div v-for="variant in variants" :key="variant.variantId"> <!-- атрибут :key позволяет отслеживать идентичность элементов и рекомендуется к использованию. при использовании v-for рекомендуется назначать каждому выводимому элементу уникальный ключ. . всё равно не понял :) -->
            <p class="socks-color" @click="updateProduct(variant.variantImage)">{{ variant.variantColor}}</p>
            <!-- @ - это сокращённый вариант записи директивы v-on -->
            </div>
            <ul>
            <li v-for="size in sizes">{{size}}</li>
            </ul>
            <a :href="link" target="_blank">More products like this</a>
            <p v-if="inventory > 10">In stock</p>
            <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out!</p>
            <p v-else>Out of stock</p>
            <span v-show="onSale">Sale now!</span>
            <div class="cart">
            <p>{{cart}} items in cart</p>
            <button v-on:click="addToCart">Add "{{product}}" in cart</button>
            <button v-on:click="clearCart">Clear cart</button>
            </div>
        </div>
        </div>
    </section>
    <script src="https://unpkg.com/vue"></script>
    <script src="./js/script.js"></script>
</body>
</html>