<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <!-- https://habr.com/ru/company/ruvds/blog/509700/ первый урок прошёл -->
    <!-- второй прошёл -->
    <!-- третий прошёл - узнал про директивы v-show/if/else-if -->
    <!-- прошёл четвёртый урок, про перебор массивов и ренедеринг списков -->
    <!-- прошёл пятый урок, про обработку событий и ключевое слово this (дополнительно нужно ещё прочитать про него) -->
    <!-- прошёл шестой урок при привязку классов и стилей -->
    <section id="app">
        <div class="product">
        <div class="product-image">
            <img v-bind:src="image" :alt="altText"/> <!-- v-bind это директива, используется для реактивного обновления атрибутов HTML. директивы используются для работы с атрибутами тегов.
                то есть для атрибута нельзя в лоб указать объект в усах -->
        </div>
        <div class="product-info">
            <h1>{{ title }}</h1>
            <p>{{ description }}</p>
            <ul>
            <li v-for="detail in details">{{ detail }}</li>
            </ul>
            <div
                class="box-color"
                v-for="variant in variants"
                :key="variant.variantId"
                :style="{ backgroundColor:variant.variantColor }"
                @click="updateProduct(variant.variantImage)"
            >
            <!-- @ - это сокращённый вариант записи директивы v-on -->
            <!-- атрибут :key позволяет отслеживать идентичность элементов и рекомендуется к использованию. при использовании v-for рекомендуется назначать каждому выводимому элементу уникальный ключ. . всё равно не понял :) -->
            </div>
            <ul>
            <li v-for="size in sizes">{{size}}</li>
            </ul>
            <a :href="link" target="_blank">More products like this</a>
            <p v-if="inventory > 10">In stock</p>
            <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out!</p>
            <p 
                v-else
                :class="{'out-of-stock': !inStock}"
            >Out of stock</p>
            <span v-show="onSale">Sale now!</span>
            <div class="cart">
            <p>{{cart}} items in cart</p>
            <button
                @click="addToCart"
                :disabled="!inStock"
                :class="{'disabled-button': !inStock}"
            >Add "{{title}}" in cart</button>
            <button @click="lessOne">delete one "{{title}}"</button>
            <button v-on:click="clearCart">Clear cart</button>
            </div>
        </div>
        </div>
    </section>
    <script src="https://unpkg.com/vue"></script>
    <script src="./js/script.js"></script>
</body>
</html>